@import '../../style/variables.scss';

.app {
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $darkBlue;
    color: #ffffff;
    &_burgerBtn {
      display: none;
    }
    &_container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 7rem;
      max-width: 130rem;
      width: 100%;
      padding-left: 5rem;
      padding-right: 5rem;
    }
  }
  &__title{
    font-weight: 800;
    font-size: 2.4rem;
    line-height: 3.3rem;
    &:hover {
      text-decoration: underline;
    }
  }
  &__navigation {
    &_liMenu {
      display: none;
    }
    ul{
      display: flex;
      justify-content: space-between;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
    }
    a{
      padding-top: 0.9rem;
      padding-bottom: 0.9rem;
      padding-left: 1rem;
      padding-right: 1rem;
      border-radius: 2rem;
    }
    li:hover {
      cursor: pointer;
      text-decoration: underline;
    }
    &_languageBtn {
      margin-right: 1rem;
      border: 0;
      font-weight: 600;
      font-size: 1.6rem;
      line-height: 2.2rem;
      background-color: transparent;
      color: #999191;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      &.languageActive {
        text-decoration: underline;
        color: #FFFFFF;
      }
    }
    &_selected {
      border: 1px solid #FFFFFF;
    }
  }
}

@media (max-width: 1023px) {
  .app {
    &__header {
      &_container {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}

@media (max-width: 767px) {
  .app {
    &__header {
      position: fixed;
      top: 0;
      z-index: 2;
      &_burgerBtn {
        z-index: 1;
        display: block;
        width: 1.8rem;
        height: 1.2rem;
        border: 0;
        background-image: url('../../resources/img/burger.svg');
        background-color: black;
        &.active {
          width: 1.4rem;
          height: 1.4rem;
          background-image: url('../../resources/img/close.svg');
        }
      }
      &_container {
        width: 100vw;
        height: 8rem;
        padding-left: 2.4rem;
        padding-right: 3.1rem;
      }
    }
    &__title{
      font-weight: 700;
      font-size: 2.4rem;
      line-height: 3.3rem;
    }
    &__navigation {
      position: fixed;
      top: 0;
      right: 0;
      width: 65vw;
      height: 100vh;
      padding-top: 2.8rem;
      transform: translateX(100%);
      transition: all 0.4s;
      background-color: black;
      &.active {
        transform: translateX(0);
      }
      ul{
        flex-direction: column;
        row-gap: 3rem;
        align-items: center;
        font-weight: 400;
        font-size: 1.8rem;
        line-height: 2.5rem;
        a{
          display: inline-block;
          padding-top: 0.7rem;
          padding-bottom: 0.7rem;
          padding-left: 1.5rem;
          padding-right: 1.5rem;          
        }
      }
      &_liMenu {
        display: flex;
        font-weight: 700;
        font-size: 20px;
        line-height: 27px;
      }
    }
  }
}