@import '../../../style/variables.scss';

.defaultImg {
  width: 100%;
  height: calc((100vw - (100vw * 0.2) - 5rem - 2rem - (2rem * 3) - 5rem)/ 4 * 1.5);
  max-height: 34rem;
  content: url(../../../resources/img/noImg.jpg);
}

.seriesPage {
  &__container {
    display: flex;
    max-width: 130rem;
    margin-left: auto;
    margin-right: auto;
  }
  &__categories {
    width: 20%;
    padding-top: 2rem;
    padding-left: 5rem;
    h2 {
      font-weight: 600;
      font-size: 2.4rem;
    }
    ul {
      display: flex;
      flex-direction: column;
      margin-top: 2rem;
      padding: 2rem;
      border: 1px solid #e3e3e3;
      border-radius: 1.2rem;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
      font-weight:600;
      font-size: 1.6rem;
      row-gap: 1.4rem;
      color: #666565b6;
      .genre__active {
        color: #000000;
      }
    }
    li {
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
  &__burgerBtn {
    display: none;
  }
  &__seriesContainer {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-left: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-right: 5rem;
    h1 {
      margin-bottom: 2rem;
      font-weight: 600;
      font-size: 2.4rem;
    }
  }
  &__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
  }
  &__serieCard {
    position: relative;
    border: 1px solid #e3e3e3;
    border-radius: 1.2rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    &:hover {
      text-decoration: underline;
    }
    img {
      display: block;
      background-image: url('../../../resources/img/noImg.jpg');
      width: 100%;
      height: calc((100vw - (100vw * 0.2) - 5rem - 2rem - (2rem * 3) - 5rem)/ 4 * 1.5);
      max-height: 34rem;
      border-top-left-radius: 1.2rem;
      border-top-right-radius: 1.2rem;
    }
    &_progress {
      width: 5rem;
      height: 5rem;
      position: relative;
      bottom: 2.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
    &_text {
      position: relative;
      bottom: 0.5rem;
    }
    h3 {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      font-weight: 600;
      font-size: 1.6rem;
    }
    p {
      margin-left: 0.5rem;
      margin-right: 0.5rem;
      padding-top: 0.5rem;
      font-weight: 400;
      font-size: 1.6rem;
      color: #4443436c;
    }
  }
  &__btnContainer {
    display: flex;
    column-gap: 3rem;
    align-self: center;
    margin-top: 3rem;
    button {
      background-color: transparent;
      font-weight: 600;
      font-size: 1.6rem;
    }
    &_prevPage {
      border: 0;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
      &:disabled {
        cursor: default;
        text-decoration: none;
      }
    }
    &_currentPage {
      padding: 0.7rem;
      border: 1px solid #e3e3e3;
      border-radius: 0.5rem;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
    }
    &_nextPage {
      border: 0;
      &:hover {
        cursor: pointer;
        text-decoration: underline;
      }
    }
  }
}

@media (max-width: 1439px) {
  .seriesPage {
    &__categories {
      ul {
        font-size: 1.4rem;
        padding: 1rem;
      }
    }
  }
}

@media (max-width: 1023px) {
  .defaultImg {
    height: calc((100vw - (100vw * 0.2) - 2rem - 2rem - (2rem * 1) - 2rem)/ 2 * 1.5);
    max-height: none;
  }
  .seriesPage {
    &__categories {
      width: 30%;
      padding-left: 2rem;
    }
    &__seriesContainer {
      padding-right: 2rem;
      width: 70%;
    }
    &__grid {
      grid-template-columns: repeat(2, 1fr);
    }
    &__serieCard {
      img {
        height: calc((100vw - (100vw * 0.2) - 2rem - 2rem - (2rem * 1) - 2rem)/ 2 * 1.5);
        max-height: none;
      }
    }
  }
}

@media (max-width: 767px) {
  .defaultImg {
    height: auto;
  }
  .seriesPage {
    &__container {
      flex-direction: column;
    }
    &__categories {
      position: fixed;
      z-index: 1;
      width: 100vw;
      height: 100vh;
      padding-left: 6rem;
      margin-top: 8rem;
      transform: translateX(-100%);
      transition: all 0.4s;
      background-color: #063158;
      color: #FFFFFF;
      &.active {
        transform: translateX(0);
      }
      ul {
        border: 0;
        padding: 0;
        box-shadow: none;
        color: #979494;
        .genre__active {
          color: #FFFFFF;
        }
      }
    }
    &__burgerBtn {
      position: absolute;
      left: 2rem;
      top: 10.5rem;
      z-index: 1;
      display: block;
      width: 1.8rem;
      height: 1.2rem;
      border: 0;
      background-image: url('../../../resources/img/burger-black.svg');
      background-color: #FFFFFF;
      &.active {
        position: fixed;
        width: 1.4rem;
        height: 1.4rem;
        background-image: url('../../../resources/img/close.svg');
        background-color: #063158;
      }
    }
    &__seriesContainer {
      width: 100%;
      margin: 0;
      margin-top: 8.4rem;
      padding-top: 1.5rem;
      padding-left: 2rem;
      h1 {
        margin-left: 4rem;
        font-size: 2rem;
      }
    }
    &__grid {
      grid-template-columns: 1fr;
    }
    &__serieCard {
      img {
        height: auto;
      }
    }
  }
}