@import '../../../style/variables.scss';

.defaultImg {
  width: 100%;
  height: 150%;
  content: url(../../../resources/img/noImg.jpg);
}

.homePage {
  &__container {
    display: flex;
    flex-direction: column;
  }
  &__searchBlock {
    height: 36rem;
    padding: 5rem;
    padding-right: 5rem;
    background-color: $darkBlue;
    background-image: url('../../../resources/img/white-walker.jpg');
    h1 {
      font-weight: 700;
      font-size: 4.8rem;
      color: #FFFFFF;
    }
    h2 {
      font-weight: 600;
      font-size: 3.2rem;
      color: #FFFFFF;
    }
    form {
      margin-top: 12rem;
    }
    &_input {
      width: 100%;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 3rem;
      padding-right: 15rem;
      border-radius: 3rem;
      border: 0;
      font-weight: 400;
      font-size: 1.8rem;
    }
    &_submit {
      position: absolute;
      right: 5rem;
      width: 12rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
      padding-left: 3rem;
      padding-right: 3rem;
      border: 0;
      border-radius: 3rem;
      font-weight: 400;
      font-size: 1.8rem;
      background: linear-gradient(to right, $lightGreen, $lightBlue);
      color: #FFFFFF;
      &:hover {
        cursor: pointer;
      }
      &:disabled {
        cursor: default;
      }
    }
  }
  &__filmsSlider {
    .slick-slider {
      display: flex;
    }
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 3rem;
    padding-left: 5rem;
    padding-right: 5em;
    h2 {
      font-weight: 600;
      font-size: 2.4rem;
    }
    .slick-prev {
      &::before {
        color:black;
      }
    }
    .slick-next {
      &::before {
        color:black;
      }
    }
    .slick-track {
      display: flex;
      column-gap: 1rem;
    }
    &_cards {
      border: 1px solid #e3e3e3;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
      border-radius: 1.5rem;
      &:hover {
        text-decoration: underline;
      }
      img {
        width: 100%;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }
      h3 {
        position: relative;
        bottom: 2rem;
        margin-left: 3%;
        margin-right: 3%;
        font-weight: 700;
        font-size: 1.5rem;
      }
    }
    &_progress {
      width: 15%;
      height: 15%;
      position: relative;
      bottom: 3rem;
      margin-left: 3%;
      margin-right: 3%;
    }
  }
  &__mostPopular {
    padding-top: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
    h2 {
      font-weight: 600;
      font-size: 2.4rem;
    }
    &_grid {
      padding-top: 2rem;
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: 3rem;
    }
    &_cards {
      display: flex;
      flex-direction: column;
      border: 1px solid #e3e3e3;
      box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
      border-radius: 1.5rem;
      &:hover {
        text-decoration: underline;
      }
      img {
        width: 100%;
        border-top-left-radius: 1.5rem;
        border-top-right-radius: 1.5rem;
      }
      h3 {
        position: relative;
        bottom: 3%;
        margin-left: 3%;
        margin-right: 3%;
        font-weight: 700;
        font-size: 1.6rem;
      }
    }
    &_progress {
      width: 15%;
      height: 15%;
      position: relative;
      bottom: 5%;
      margin-left: 3%;
      margin-right: 3%;
    }
  }
  &__about {
    padding-left: 5rem;
    padding-right: 5rem;
    margin-bottom: 4rem;
    h2 {
      margin-top: 1.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 2.4rem;
    }
    p {
      font-weight: 400;
      font-size: 1.6rem;
    }
  }
}

@media (max-width: 1023px) {
  .homePage {
    &__searchBlock {
      padding-left: 2rem;
      padding-right: 2rem;
      &_submit {
        right: 2rem;
      }
    }
    &__filmsSlider {
      margin-left: 2rem;
      margin-right: 2em;
      padding-left: 2rem;
      padding-right: 2em;
      &_cards {
        h3 {
          bottom: 1rem;
        }
      }
      &_progress {
        bottom: 1rem;
      }
    }
    &__mostPopular {
      padding-left: 2rem;
      padding-right: 2rem;
      &_grid {
        grid-template-columns: repeat(4, 1fr);
      }
    }
    &__about {
      margin-top: 2rem;
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@media (max-width: 767px) {
  .homePage {
    &__container {
      padding-top: 8rem;
    }
    &__searchBlock {
      height: 25rem;
      padding: 2.4rem;
      padding-top: 2rem;
      h1 {
        font-size: 2.8rem;
        line-height: 4.2rem;
      }
      h2 {
        font-size: 1.8rem;
      }
      form {
        margin-top: 3rem;
      }
      &_input {
        font-size: 1.4rem;
        padding-left: 1rem;
        padding-right: 6rem;
      }
      &_submit {
        right: 2.4rem;
        width: 6rem;
        padding-left: 1rem;
        padding-right: 1rem;
        font-size: 1.4rem;
        border-radius: 2rem;
      }
    }
    &__filmsSlider {
      padding: 2.6rem;
      padding-top: 2rem;
      h2 {
        font-size: 2.2rem;
      }
      &_cards {
        h3 {
          bottom: 2rem;
        }
      }
      &_progress {
        bottom: 3rem;
      }
    }
    &__mostPopular {
      padding: 2.4rem;
      padding-top: 0;
      padding-bottom: 0;
      h2 {
        font-size: 2.2rem;
      }
      &_grid {
        grid-template-columns: 1fr;
        gap: 1rem;
      }
    }
    &__about {
      padding: 2.4rem;
      padding-top: 0;
      margin-bottom: 1rem;
      h2 {
        margin-top: 0;
        font-size: 2.2rem;
      }
      p {
        padding-bottom: 1rem;
      }
    }
  }
}

