.defaultImg {
  content: url(../../../resources/img/noImg.jpg);
}

.actorInsidePage {
  &__container {
    display: flex;
    column-gap: 2rem;
    max-width: 130rem;
    min-height: calc(100vh - 7rem - 8.1rem);
    margin-left: auto;
    margin-right: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 5rem;
  }
  &__facts {
    width: 25%;
    .defaultImg {
      width: 100%;
      border-radius: 0.5rem;
    }
    img {
      display: block;
      width: 100%;
      border-radius: 0.5rem;
    }
    h3 {
      margin-top: 2rem;
      font-weight: 600;
      font-size: 2rem;
    }
    p {
      display: block;
      margin-top: 2rem;
      font-weight: 400;
      font-size: 1.6rem;
      strong {
        display: block;
        padding-bottom: 0.3rem;
      }
    }
  }
  &__biography {
    width: 75%;
    h2 {
      font-weight: 600;
      font-size: 3.5rem;
    }
    h3 {
      margin-top: 2.5rem;
      margin-bottom: 1rem;
      font-weight: 600;
      font-size: 2rem;
    }
    p {
      font-weight: 400;
      font-size: 1.6rem;
    }
    .actorInsidePage__slider {
      .slick-prev {
        &::before {
          color:black;
          display: none;
        }
      }
      .slick-next {
        &::before {
          color:black;
          display: none;
        }
      }
      .slick-dots {
        position: relative;
        bottom: 0;
        padding-top: 1rem;
      }
      .slick-track {
        display: flex;
        column-gap: 1rem;
        align-items: stretch;
        height: 100%;
      }
      &_card {
        width: 20rem; 
        .defaultImg {
          width: 20rem;
          height: 30rem;
          border-radius: 1.5rem;
        }
        img {
          width: 20rem;
          height: 30rem;
          border-radius: 1.5rem;
        }
        a {
          display: block;
          width: 19rem;
          margin-top: 1rem;
          margin-bottom: 0;
          margin-left: 0.5rem;
          margin-right: 0.5rem;
          font-weight: 700;
          font-size: 1.5rem;
          &:hover {
            cursor: pointer;
            text-decoration: underline;
          }
        }
      }
    }
  }
}

@media (max-width: 1023px) {
  .actorInsidePage {
    &__container {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }
}

@media (max-width: 767px) {
  .actorInsidePage {
    &__container {
      position: relative;
      flex-direction: column;
      padding-top: 14rem;
    }
    &__facts {
      width: 100%;
    }
    &__biography {
      width: 100%;
      h2 {
        position: absolute;
        top: 9rem;
      }
      h3 {
        margin-top: 2rem;
      }
    }
  }
}